@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Unbounded, sans-serif;
    font-size: 11px;
}

html{
    background:url(./pexels-tanny-18599711.jpg);
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

h1{
    font-weight: 750;
    height: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    text-align: center;
    background:linear-gradient(to right, rgb(206, 206, 90), rgb(255, 225, 123));
    border-radius: 7px 7px 0 0;
    color: rgb(106, 106, 0);
    padding: 7px 0;
    margin: 0;
}

.container{
    width: fit-content;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    background-color: white;
    position:absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,0);
    margin:auto;
}

#isi{
    padding: 7px 7px 0 7px;
    height: 100%;
}

.tambah{
    display: flex;
    justify-content: center;
    gap: 10px;
}

input{
    border-radius: 7px;
    height: 27px;
    width: 278px;
    padding: 0 10px;
    border: 1.5px solid rgb(175, 175, 73);
    font-weight: 100;
}

input[type=text]:focus{
    border: 3px solid rgb(106, 106, 0);
}

input::placeholder{
    color: rgb(106, 106, 0, 0.75);
}

button{
    height: 27px;
    width: 45px;
    border-radius: 5px;
    font-weight: 700;
    background:linear-gradient(to right, rgb(206, 206, 90), rgb(255, 225, 123));
    color: rgb(106, 106, 0);
    border: none
}

.list{
    margin: 10px 0;
}

li{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
}

.task-text{
    width: 60%;
    text-wrap: balance;
}

.up{
    background: linear-gradient(to right, rgb(206, 206, 90), rgb(255, 225, 123));
}

.del, #del-all{
    background: linear-gradient(to right, rgb(253, 141, 20), rgb(197, 22, 5));
    color: rgb(206, 206, 90);
}

.up, .del{
    width: 60px;
    border: none;
    margin-left: 5px;
}

#del-all{
    width:100px;
    margin:0 10px 10px 10px;
    display:none;
}

.mini-input{
    width: 195px;
}

@media (max-width :767px){
    .container{
        background-size: cover;
        background-position: center;
        width: 90vw;
    }

    h1{
        width: 90vw;
    }

    input{
        width:68vw;
    }

    .mini-input{
        width: 50vw;
    }

    .task-text{
        width: 40vw;
    }
}
